In [1]:
import pandas as pd

# Read in all of the data so that we can mess with it
flightData = pd.read_csv('flightdata.csv')

# Show the first 5 rows of the CSV file
flightData.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [2]:
# Giving us an overview of all of our data
flightData.describe()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,CRS_DEP_TIME,DEP_TIME,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
count,11231.0,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11231.000000,11124.000000,...,11231.000000,11116.000000,11043.000000,11043.000000,11231.000000,11231.000000,11231.000000,11043.000000,11231.000000,0.0
mean,2016.0,2.544475,6.628973,15.790758,3.960199,1334.325617,12334.516695,12302.274508,1320.798326,1327.189410,...,1537.312795,1523.978499,-2.573123,0.124513,0.010150,0.006589,190.652124,179.661233,1161.031965,NaN
std,0.0,1.090701,3.354678,8.782056,1.995257,811.875227,1595.026510,1601.988550,490.737845,500.306462,...,502.512494,512.536041,39.232521,0.330181,0.100241,0.080908,78.386317,77.940399,643.683379,NaN
min,2016.0,1.000000,1.000000,1.000000,1.000000,7.000000,10397.000000,10397.000000,10.000000,1.000000,...,2.000000,1.000000,-67.000000,0.000000,0.000000,0.000000,93.000000,75.000000,509.000000,NaN
25%,2016.0,2.000000,4.000000,8.000000,2.000000,624.000000,10397.000000,10397.000000,905.000000,905.000000,...,1130.000000,1135.000000,-19.000000,0.000000,0.000000,0.000000,127.000000,117.000000,594.000000,NaN
50%,2016.0,3.000000,7.000000,16.000000,4.000000,1267.000000,12478.000000,12478.000000,1320.000000,1324.000000,...,1559.000000,1547.000000,-10.000000,0.000000,0.000000,0.000000,159.000000,149.000000,907.000000,NaN
75%,2016.0,3.000000,9.000000,23.000000,6.000000,2032.000000,13487.000000,13487.000000,1735.000000,1739.000000,...,1952.000000,1945.000000,1.000000,0.000000,0.000000,0.000000,255.000000,236.000000,1927.000000,NaN
max,2016.0,4.000000,12.000000,31.000000,7.000000,2853.000000,14747.000000,14747.000000,2359.000000,2400.000000,...,2359.000000,2400.000000,615.000000,1.000000,1.000000,1.000000,397.000000,428.000000,2422.000000,NaN

In [6]:
# Mean(average) for DEP_DELAY for each unique ORIGIN
dep_df = flightData[['ORIGIN', 'DEP_DELAY']].copy()

In [5]:
# Average of all delays across all airports
flightData['DEP_DELAY'].mean()

8.460266091334052

In [7]:
dep_df.head()

  ORIGIN  DEP_DELAY
0    ATL        2.0
1    DTW       -1.0
2    ATL        2.0
3    SEA        1.0
4    SEA       -4.0

In [8]:
dep_df.describe()

          DEP_DELAY
count  11124.000000
mean       8.460266
std       36.762969
min      -16.000000
25%       -3.000000
50%       -1.000000
75%        4.000000
max      645.000000

In [10]:
# Grabbing all rows from dep_df where the ORIGIN column is ATL
atl = dep_df.loc[dep_df['ORIGIN'] == 'ATL']

In [11]:
atl.mean()

DEP_DELAY    8.747721
dtype: float64

In [13]:
flightData.head()

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN,...,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DEL15,CANCELLED,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,DISTANCE,Unnamed: 25
0,2016,1,1,1,5,DL,N836DN,1399,10397,ATL,...,2143,2102.0,-41.0,0.0,0.0,0.0,338.0,295.0,2182.0,NaN
1,2016,1,1,1,5,DL,N964DN,1476,11433,DTW,...,1435,1439.0,4.0,0.0,0.0,0.0,110.0,115.0,528.0,NaN
2,2016,1,1,1,5,DL,N813DN,1597,10397,ATL,...,1215,1142.0,-33.0,0.0,0.0,0.0,335.0,300.0,2182.0,NaN
3,2016,1,1,1,5,DL,N587NW,1768,14747,SEA,...,1335,1345.0,10.0,0.0,0.0,0.0,196.0,205.0,1399.0,NaN
4,2016,1,1,1,5,DL,N836DN,1823,14747,SEA,...,607,615.0,8.0,0.0,0.0,0.0,247.0,259.0,1927.0,NaN

In [14]:
dep_df.head()

  ORIGIN  DEP_DELAY
0    ATL        2.0
1    DTW       -1.0
2    ATL        2.0
3    SEA        1.0
4    SEA       -4.0

In [15]:
atl.head()

   ORIGIN  DEP_DELAY
0     ATL        2.0
2     ATL        2.0
6     ATL        0.0
10    ATL        3.0
11    ATL       10.0

In [19]:
# Grabbing all rows from atl where the DEP_DELAY column is > 15
atl_del = atl.loc[atl['DEP_DELAY'] > 15]

In [20]:
atl_del.head()

    ORIGIN  DEP_DELAY
20     ATL       23.0
77     ATL       59.0
91     ATL       22.0
101    ATL       29.0
123    ATL       21.0

In [21]:
atl_del.describe()

       DEP_DELAY
count  424.00000
mean    62.17217
std     73.56971
min     16.00000
25%     23.00000
50%     38.00000
75%     63.00000
max    462.00000

In [32]:
# Grabbing all the data from dep_df where the DEP_DELAY is greater than 15
long_del = dep_df.loc[dep_df['DEP_DELAY'] > 15]

In [33]:
long_del.head()

   ORIGIN  DEP_DELAY
20    ATL       23.0
33    DTW       21.0
37    SEA       42.0
39    MSP       26.0
53    JFK       36.0

In [34]:
long_del.describe()

         DEP_DELAY
count  1513.000000
mean     66.578321
std      76.753638
min      16.000000
25%      23.000000
50%      39.000000
75%      74.000000
max     645.000000

In [35]:
# Group all of the long_del data by the ORIGIN column, and get the average of the DEP_DELAY for each unique column
ave_del = long_del.groupby(['ORIGIN']).mean()

In [36]:
ave_del

        DEP_DELAY
ORIGIN
ATL     62.172170
DTW     67.779026
JFK     70.257143
MSP     69.441606
SEA     65.582090